

// @import "fonts";
// @import "palette";
@import "mq";
// @import "general";
// @import "share";



.vav-callout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
	background-color: #717D85;
	padding-left: 10px;
	z-index: 1050;
	transform: translateY(-100%);
	transition: transform 240ms ease-in-out;
	a {
		font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
		font-weight: 900;
		font-size: 15px;
		@include mq(330px) {
			font-size: 16px;
		}
		line-height: 18px;
		color: #fff;
		position: relative;
	    top: 4px;
		@include mq(360px) {
		    top: -1px;
		}
		span {
			margin-right: 3px;
			display: inline-block;
			@include mq(360px) {
				position: relative;
			    top: -2px;
			}
		}
		@include mq(tablet) {
			padding-left: 15px;
		}
		&:hover {
			text-decoration: none;
			span {
				border-bottom: 2px solid rgba(255,255,255,0.5);
			}
		}
	}
	.arrow {
		display: none;
		@include mq(360px) {
			display: inline-block;
		}
		position: relative;
		top: 4px;
	}
	.logo {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-12px) translateX(16px);
		transition: transform 180ms ease-in-out;
	}
	&.visible {
		transform: translateY(0);
		.logo {
			transform: translateX(0) translateX(16px);
			@include mq(desktop) {
				transform-origin: top right;
				transform: translateX(-12px) translateX(16px) scale(1.24);
			}
		}
	}
}
